%legend 
  所有户型
  - if current_user.can_create_huxing?
    %span.pull-right
      = link_to icon_link(:plus) + "  新户型", new_admin_huxing_path

%table.table.table-stripped
  %thead
    %th 户型名称
    %th 面积
    %th

  - @huxings.each do |huxing|
    %tr
      %td= link_to huxing.name, admin_huxing_path(huxing)
      %td


= paginate @huxings

